.w-full.h-full.flex.justify-center.items-center {
    margin-right: -81px;
}


@media (max-width:500px) {
.navbar {
    display: none;
}
/* .blackText{
    color: white;
} */
.blackText {
    color: #0b031d;
}
.skillContainer {
    margin-top: -84px;
}
/* .flex.flex-row.items-center.justify-center.px-20.mt-40.w-full.z-\[20\] {
    margin-bottom: -176px;
} */

}
@media (max-width:433px) {
    img.fonts {
    height: 17px;
}

.navContainer {
    gap: 19px;
}
.logo {
    height: 45px;
    width: 126px;
}
.herocontainer {
    margin: 0 -29px;
}
}