@media (max-width:500px) {
.navbar {
    display: none;
}

}
@media (max-width:433px) {
    img.fonts {
    height: 17px;
}

.navContainer {
    gap: 19px;
}
.logo {
    height: 45px;
    width: 126px;
}
.herocontainer {
    margin: 0 -19px;
}
}